.form {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.form input, 
.form fieldset,
.form textarea, 
.form select {
    display: block;
    margin-bottom: 21px;
    border-radius: 5px;
    border: 1px solid #bcbcbc;
}

.form input[type="radio"], 
.form input[type="checkbox"] {
    display: inline-block;
    margin-left: 14px;
}

.form input[type="color"] {
    display: inline-block;
}

.form .form-acoes {
    margin-top: 36px;
}

.form .form-acoes input {
    display: inline-block;
}

.form .form-img {
    margin-right: 14px;
    height: 150px;
    width: auto;
    border: 2px solid #bcbcbc;
    border-radius: 5px;
}



